<footer class="py-3 pb-0 mb-0 my-4 footer mt-auto" style="background-color: #f1f1f1;">
  <div class="container">
    <ul class="nav justify-content-center pb-3 pt-3">
      <li class="nav-item">
        <a class="nav-link active text-dark" aria-current="page" href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{{ url_for('q_and_a') }}">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{{ url_for('about_us') }}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{{ url_for('gallery') }}">Photo Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{{ url_for('contact_us') }}">Contact Us</a>
      </li>
    </ul>
    </ul>
    <p class="text-center mt-3 text-muted">&copy; 2022 K Mover Company, Inc</p>
  </div>
</footer>