{% extends "base/layout.html" %}
{% block title %}K MOVER | ABOUT US{% endblock %}

{% block body %}
    
    <section class="w-100 bg-dark text-white pt-5 pb-5">
        <div class="container" style="max-width: 800px;">

            <div class="log-title mb-5">
                <div class="d-flex gap-2 justify-content-center align-items-center">
                    <div class="col-auto">
                        <img src="{{ url_for('static', filename='lg-main.png') }}" width="100" alt="Lg Main" style="transform: rotate(180deg);">
                    </div>

                    <div class="col-auto">
                        <h1 class="fs-2">K MOVER</h1>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <img class="img-fluid rounded" src="{{ url_for('static', filename='team.jpg')}}" alt="Team">
            </div>

            <div class="mt-5 mb-5">
                <h2 class="fs-2 fw-bold">About Us</h2>
            </div>
            <div class="mb-5">
                <p class="text-lead">
                    Nowadays, people start finding to use house moving services than doing themself. We as a house moving service company can offer you easy, convenient and cost-effective. Our goal is to help our customers to experience great service. And, we will never let our goal down.
                </p>
            </div>
            <div class="mt-5 mb-5">
                <h2 class="fs-2 fw-bold">Our Story</h2>
            </div>
            <div class="mb-5">
                <p class="text-lead">
                    We started as a small house moving service company a few years ago. In the past, we have done giving many house moving services across Singapore. At the present, we have a few dozen of employees, and we are still looking forward to giving the best house moving service experience across Singapore.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
